@import 'tailwindcss';
@import "tw-animate-css";

@import './styles/theme.css';
@import './index.css';

@custom-variant dark (&:is(.dark *));

@config '../tailwind.config.js';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}